body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #f7f7f7;
  color: #333;
}

header {
  background: #fff;
  color: #333;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease-out;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #2a7ae2;
}

section {
  margin: 2rem 5%;
  padding: 2rem;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.bio {
  flex-basis: 60%;
}

.profile-photo {
  flex-basis: 15%;
  text-align: right;
}

.profile-photo img {
  max-width: 100%;
  height: auto;
  border-radius: 25px; /* Optional: for rounded corners */
}

footer {
  background: #fff;
  color: #333;
  text-align: center;
  padding: 1rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#menu-toggle {
  display: none; /* Hidden by default */
  cursor: pointer;
  padding: 1rem;
  font-size: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media (max-width: 768px) {
  header {
    position: relative; /* Ensures that the menu toggle is positioned relative to the header */
  }
  #menu-toggle {
    display: block;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 100%; /* Positions the menu right below the header */
    left: 0;
    right: 0;
    background: white; /* Adds a background to the dropdown */
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
    z-index: 1000; /* Ensures the dropdown is above other content */
  }

  nav ul.active {
    display: block; /* Display the dropdown when active */
  }

  nav ul li {
    display: block; /* Stack the links vertically */
    text-align: left; /* Align text to the left or center as per design */
    border-top: 1px solid #ddd; /* Optional: adds a separator between links */
  }

  nav ul li a {
    display: block; /* Make the link fill the entire list item */
    padding: 10px; /* Add some padding for touch targets */
    color: #333; /* Text color */
    text-decoration: none; /* No underline */
  }

  nav ul li a:hover {
    background-color: #f7f7f7; /* Slight background on hover for touch targets */
  }
}

.publication-list {
  list-style: none;
  padding: 0;
}

.publication-item {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px; /* Adjust as needed */
}

.publication-year {
  min-width: 50px; /* Adjust as needed */
  font-weight: bold;
}

.publication-text {
  flex-grow: 1;
  padding-left: 15px; /* Adjust as needed */
}

#contact i {
  margin-right: 8px; /* Adjust the space between the icon and the text */
}

#contact a {
  color: #333; /* or any color you prefer */
  text-decoration: none; /* No underline */
}

#contact a:hover,
#contact a:focus {
  color: #0e76a8; /* LinkedIn blue, for example */
}

.contact-icons p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem; /* This controls the space between the rows */
}

.contact-icons a {
  text-decoration: none;
  color: #333;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: color 0.3s; /* Smooth transition for color change */
}

/* Add a hover effect to the anchor tags */
.contact-icons a:hover,
.contact-icons a:focus {
  color: #52b7b2; /* Light blue color on hover */
}

/* Ensure that the icons also change color */
.contact-icons a:hover i,
.contact-icons a:hover img {
  filter: brightness(0) saturate(100%) invert(45%) sepia(93%) saturate(400%) hue-rotate(191deg) brightness(99%) contrast(101%);
}

/* Reset image color to default if you're using an SVG with fill property */
.contact-icons a img {
  transition: filter 0.3s; /* Smooth transition for filter change */
}

.contact-icons a i,
.contact-icons a img {
  font-size: 1.2rem; /* Adjust the font size of icons to match the text */
  width: 1.2rem; /* Adjust image icons to match the size of font icons */
  height: auto; /* Maintain the aspect ratio of image icons */
}

.contact-icons i,
.contact-icons .contact-logo {
  margin-right: 8px; /* Space between icon/logo and text */
}

.contact-logo {
  width: 20px; /* Adjust width as needed */
  height: auto; /* Adjust height automatically */
}