body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header p {
    margin: 0;
  }
  
  nav ul {
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  section {
    padding: 1rem;
    margin: 1rem 0;
  }
  
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bio {
    flex-basis: 80%;
  }
  
  .profile-photo {
    flex-basis: 15%;
    text-align: right;
  }
  
  .profile-photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; /* Optional: for rounded corners */
  }
  
  /* To ensure footer does not overlap */
  footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: relative;
  }
  
  /* Fixes for scrolling and layout */
  body, html {
    height: 100%;
    margin: 0;
  }
  
  main {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  main > * {
    flex-shrink: 0;
  }

  .publication-list {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  
  .publication-item {
    display: flex;
    margin-bottom: 10px; /* Adds space between list items */
    align-items: baseline; /* Aligns items on their baseline */
  }
  
  .publication-year {
    flex: 0 0 50px; /* Adjust width as needed */
    font-weight: bold;
    margin-right: 15px; /* Adds some space between the year and the text */
  }
  
  .publication-text {
    flex: 1; /* Allows text to fill the remaining space */
    text-align: left;
  }